<footer class="py-4 bg-dark">
    <div class="container">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <p class="">Copyright &copy; Your Website 2017</p>
            </div>
            <div class="col-md-4">
                <h5>Faydalı Linkler</h5>
                <p class="text-white"><a href="/MyEver/Index">Anasayfa</a></p>
                <p><a href="/MyEver/MostLiked">En Beğenilenler</a></p>
                <p><a href="/MyEver/Index">Son Yazılanlar</a></p>
            </div>
            <div class="col-md-4">
            </div>

        </div>
    </div>
    <!-- /.container -->
</footer>
