
@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h4 class="my-4">KATEGORİLER</h4>
            @Html.Partial("_PartialCategories")

        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">

            <div class="row">
                <div class="col-md-10 mt-md-5 offset-1">
                    <h3 class="text-center">
                        Amet,consectetur adipiscing elit.
                    </h3>
                    <hr />
                    <div class="text-center">
                        <img src="http://placehold.it/500x200" class="img-thumbnail img-fluid " alt="Alternate Text" />
                    </div>
                    <hr />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum odio massa, ornare eu felis a, dictum porttitor massa. Vestibulum rutrum sem vel purus euismod, non viverra justo luctus. Sed ut pellentesque augue. Fusce placerat sagittis egestas. Aenean eu neque erat. Donec porta hendrerit velit, et auctor arcu posuere eu. Curabitur vel consequat nulla. Nam turpis quam, commodo sed pretium at, viverra vitae sapien. Nam aliquet ligula eu nulla dignissim, id elementum mi varius. Vivamus tempus elit eu eros efficitur accumsan. Nunc tempor luctus odio, eget aliquam felis auctor sed. Vestibulum interdum nulla massa. In porttitor mi sem, et dapibus enim tincidunt a. Nulla nunc lacus, fermentum non ligula sit amet, tincidunt ultricies justo. Donec aliquam sem ac nisl scelerisque dapibus. Pellentesque in turpis augue.</p>
                    <p>Duis ut enim quis quam hendrerit laoreet. Donec metus nibh, iaculis eu tincidunt a, convallis ut justo. Sed euismod venenatis urna. Suspendisse scelerisque sollicitudin eros eget venenatis. Donec id nulla quis ligula sollicitudin sagittis. Proin vulputate nulla et ex volutpat, nec laoreet tortor accumsan. Ut mollis eros elit, ac ullamcorper dolor ornare eget. Pellentesque scelerisque diam quis luctus dignissim. Donec fermentum justo ut ante faucibus, eget fringilla quam condimentum.</p>
                    <p>
                        Donec a leo nec enim accumsan facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet est id nisl consectetur consectetur sit amet id eros. Donec rutrum consectetur lacus, nec condimentum libero. Nam sit amet nunc odio. Nunc ut blandit tortor. Etiam tincidunt hendrerit blandit. Aliquam faucibus ligula placerat, finibus ante sit amet, vulputate ante.

                    </p>
                </div>

            </div>

            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
    @section footer{
    @Html.Partial("_PartialFooter")
    }
</div>

