
@{
    ViewBag.Title = "Access";
}

<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1>Bu Sayfaya Erişmek İçin Yetkiniz Bulunmamaktadır.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @Bootstrap.LinkButton("/MyEver/Index", "primary", string.Empty, "fa-arrow-alt-circle-left",string.Empty,"Ana Sayfaya Git")
            
        </div>
    </div>
</div>

